:root {
  --white: #ddd;
  --dark: #111;
  --darkGrey: #474b4f;
  --lightGrey: #6b6e70;
  --lightGreen: #86c232;
  --darkGreen: #61892f;
  --transition: all 0.5s ease;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./bk.png") center / cover no-repeat;
}
.App {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}
.about {
  margin-top: 20px;
}
.about img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
h1 {
  color: #61892f;
}
.adr {
  color: #61892f;
}
.span {
  color: #111;
}
